*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  font-size: 2rem;
  color: white;
  background: cornflowerblue;
  padding: 1em;
}

header div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.content h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: 1fr;
  }

  .user-details {
    grid-row: 1;
  }

  .articles {
    grid-row: 2;
  }
}
